@import url("https://fonts.googleapis.com/css2?family=Montesrrat:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&Parisienne&display=swap");

:root {
  --orange: #b8870b;
  --orange-light: #c6951b;
  --dark-gray: #262626;
  --light-gray: #9b9b9b;
  --white: #fff;
  --text-lighter-gray: rgb(229 231 235);
  --text-light-gray: rgb(156 163 175);
  --text-gray: rgb(55 65 81);
  --header-gray: rgb(30 41 59);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

.hero {
  background-image: linear-gradient(#00000080, #00000080),
    url("./assets/bg-main.jpeg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ContactHero {
  background-image: linear-gradient(#00000080, #00000080),
    url("./assets/contact-hero.jpg");
  height: 50vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
